services:
  metadata-creator:
    #build: .
    image: metadatagenerator:v0
    volumes:
      - ./data:/app/data
    environment:
      - FOLDER_PATH=/app/data
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.1'
          memory: 128M